
.voltar p{
    display: flex;
    align-items: center;
    margin-top: 6vh;
    margin-left: 6vh;
    font-size: 3vh;
}

.voltar p:hover{
    cursor: pointer;
    color: #4D3E6A;
}


.titulos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulos h1{
    color:#4D3E6A ;
    font-size: 5vh;
}

.titulos p{
    font-size: 3vh;
}

.linkCadastrar{
    display: flex;
    align-items: center;
}