*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #4D3E6A;
    height: 7vh;
    border: none;
    width: 100%;
    
}

.creditos{
    padding-top: 2vh;
    font-size: 2vh;
    color: #ffff;
    padding-left: 90vh;
}